/* Coolors Exported Palette - coolors.co/bee9e8-0f4c81-4b667b-c7ef00-02111b */

/* RGB */
$lightBlue: rgba(190, 233, 232, 1);
$darkBlue: rgba(15, 76, 129, 1);
$grey: rgba(75, 102, 123, 1);
$yellow: rgba(199, 239, 0, 1);
$richBlack: rgba(2, 17, 27, 1);

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $richBlack;
	color: $lightBlue;

	h1 {
		font-size: 3rem;
		font-weight: bold;
		text-shadow: 2px, 2px;
	}

	#date {
		font-size: 1.8rem;
	}

	img {
		width: 50%;
		height: 60vh;
		padding: 1%;
	}
	h4 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1rem;
		width: 75%;
		padding: 1%;
		color: $yellow;
	}
}
